<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>jzzhang</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>P63Wp1nQ6tgApuzfuPsNwGIR2hp0AoNc2/V6+4WvAnrhA3anni7bIjhm6OkqkIzf</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.13">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress>zejason.zhang@nagra.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.57.2">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$siOdMiWtCA7Gptj6Ik0oWe.tzusJJb9ABihAnMMj//KLStLN4eSWu</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.plugins.perforce.PerforceUserProperty plugin="perforce@1.3.36">
      <perforceId>jzzhang</perforceId>
    </hudson.plugins.perforce.PerforceUserProperty>
    <org.jenkinsci.plugins.p4.email.P4UserProperty plugin="p4@1.3.5"/>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>