<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@1.0.3">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>configtype</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>buildtype</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>buildnumber</name>
          <description></description>
          <defaultValue>195</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>195</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>python /home/swang/pyserial/flash_7428/boot_to_cfe.py</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>python /home/swang/pyserial/flash_7428/ifconfig.py</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>python /home/swang/pyserial/flash_7428/flash_main.py $buildnumber</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>python /home/swang/pyserial/flash_7428/boot_kernel.py</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>python /home/swang/pyserial/flash_7428/flash_erase.py</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>python /home/swang/pyserial/flash_7428/tftp_get_ubiformat.py $buildnumber</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>python /home/swang/pyserial/flash_7428/boot_to_cfe.py</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>python /home/swang/pyserial/flash_7428/startup.py</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>